body {
    margin: 0;
    min-width: 250px;
    background-color: black !important;
    font-family: 'Exo', sans-serif;
    color: white !important;
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-header>h1 {
    text-align: center;
}

.modal-content {
    background: #2b2d2f !important;
}

.modal-body {
    color: white !important;
}

.md-form>input {
    color: white !important;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 8px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px;
    color: #162a4a !important;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the "Add" button */
.addBtn {
    width: 100%;
    margin: 0 !important;
    color: white !important;
}

.custom-select {
    color: white !important;
    background: transparent !important;
}

.red-gradient {
    background: linear-gradient(40deg, #de4c40, #620308) !important;
}

.green-gradient {
    background: linear-gradient(40deg, #3ece0d, #0f4803) !important;
}

.player-score>h1 {
    font-size: 100px;
    font-weight: bold;
}

.player-score>h2 {
    font-size: 40px;
    font-weight: bold;
}

.bottom-line {
    border-bottom: 4px solid white;
    padding: 10px;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #3ece0d !important;
    box-shadow: 0 1px 0 0 #3ece0d !important;
}
.md-form input[type="text"]:not(.browser-default):focus:not([readonly])+label {
    color: #3ece0d !important;
}
.md-form>ul {
    color: black !important;
}